@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    z-index: 1;
}

.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #ffffff;
    overflow: hidden;
    margin: 20px 10px;
}

.container .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffc400;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .card:after {
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 25, 0.05)
}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(0%);
}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(5deg);
    width: 270px;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    transition: .7s;
    z-index: 999;
    color: rgb(0, 0, 0);
}

.container .card:hover .contentBx {
    height: 180px;
}

.container .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin: 0;
    text-shadow: -1px -1px 5px white;
}

.container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: rgb(0, 0, 0);
    border-radius: 4px;
    margin-top: 5px;
    text-decoration: none;
    font-weight: 600;
    color: rgb(255, 255, 255);
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;
}

.contentBx #buy:hover {
    background: #ffc400;
    transition-delay: 0.20s !important;
}

.container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}

h2,
h3,
h4,
h5 {
    margin: 5px !important;
    font-family: 'Poppins', sans-serif;
}

h5 {
    margin: 5px 15px !important;
    font-size: 1rem;
}

h3 {
    color: #ffc400;
}