.footer {
    padding: 20px;
    margin: 20px 45px;
    text-align: center;
    background: rgb(0, 0, 0);
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 8px rgba(70, 70, 70, 0.3);
}

.f-block1,
.f-block2,
.f-block3 {
    width: 30%;
    height: inherit;
    display: flex;
    flex-direction: column;
    margin: 5px 20px;
    text-align: left;
    padding: 0 20px;
    transition: 0.1s;
    color: white;
}

.f-block2 div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.f-block2 div span ul {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}

.f-block2 div span ul li {
    list-style: none;
}

.f-block2 div span ul li a {
    text-decoration: none;
    color: white;
    position: relative;
}

.f-block2 div span ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0%;
    border: none;
    border-bottom: 2px solid #ffeb3b;
    transform-origin: left;
    transition: 0.5s;
}

.f-block2 div span ul li a:hover:after {
    height: 100%;
    width: 100%;
}

.f-block1 h2,
.f-block2 h2,
.f-block3 h2 {
    color: rgb(216, 216, 216);
}

.f-block3 h2 {
    margin: 10px 0 0 0;
}

.l-tags {
    display: flex;
    flex-wrap: wrap;
}

.tags {
    background-color: rgb(182, 182, 182);
    padding: 2px 10px;
    margin: 3px;
    margin-bottom: 10px;
    color: white;
    transition: 0.1s;
}

.tags:hover {
    background-color: #ffc400;
    transform: scale(1.1);
}

@media screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
    }
    .f-block1,
    .f-block2,
    .f-block3 {
        width: 100%;
    }
    .f-block1,
    .f-block2,
    .f-block3 {
        margin: 5px 20px;
    }
    .footer {
        margin: 5px;
    }
}