@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
    height: 28px !important;
    width: 28px !important;
    margin: 0 13px;
    stroke: white !important;
}

.main-menu:hover,
nav.main-menu.expanded {
    width: 250px;
}

.main-menu {
    background: rgb(34, 34, 34);
    border-right: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 55px;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 1000;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
    border-bottom: 2px solid rgb(99, 98, 98);
    border-right: 1px solid rgb(255, 255, 255);
    padding: 10px 0;
}

.main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 2px solid rgb(99, 98, 98);
    border-right: 1px solid rgb(255, 255, 255);
}

a:hover,
a:focus {
    text-decoration: none;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover>svg,
.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
    color: #ffc400;
    transform: scale(1.05);
    stroke: #ffc400 !important;
    /* background-color: #ffc400; */
}