/* top nav */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    top: 0;
    padding: 0 0 0 55px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    z-index: 5;
    transition: .5s;
}

@media screen and (max-width: 500px) {
    .topnav {
        display: none;
    }
}

.topnav div a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    border-right: 1.5px solid rgb(99, 98, 98);
    transition: .3s;
}

.topnav div a:hover {
    background-color: #ffc400;
    border-right: 1.5px solid #ffc400;
}

#co {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#co img {
    padding: 5px 21.5px;
    border-right: 1.5px solid rgb(99, 98, 98);
}

.icons {
    display: flex;
}

.icon {
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 0px 12px;
    border-left: 1.5px solid rgb(99, 98, 98);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon:hover {
    background-color: #ffc400;
    border-left: 1.5px solid #ffc400;
}


/* second nav */

.topnav1 {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: sticky !important;
    top: 0;
    flex-direction: row;
    z-index: 5;
    transition: .5s;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
    font-family: poppins;
    padding: 0 0 0 55px;
}

.midnav {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.topnav1 .midnav a {
    float: left;
    display: block;
    position: relative;
    color: #353434;
    font-weight: 600;
    text-align: center;
    padding: 15px 35px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    border-right: 1.5px solid rgb(230, 230, 230);
    transition: .3s;
    cursor: pointer;
}

.topnav1 .midnav #display {
    display: flex;
    background-color: white;
}

#logo {
    float: left;
    display: block;
    color: #353434;
    font-weight: 600;
    text-align: center;
    padding: 12px 20px 9.5px 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    border-right: 1.5px solid rgb(235, 235, 235);
    transition: .3s;
}

#logo:hover img {
    animation: rotate .2s ease-in-out 1;
}

@keyframes rotate {
    100% {
        transform: rotate(180deg);
    }
}

.nav-item {
    display: flex;
}

.nav-item span {
    color: white;
    margin: auto auto;
    margin-right: 15px;
}

.navb {
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 11px;
    width: 100%;
    border: none;
    border-bottom: 4px solid #000000;
    transform-origin: left;
    transition: 0.3s;
}

.topnav1 a:hover .navb {
    border-bottom: 3.5px solid #ffc400;
    bottom: 2px;
    color: #ffc400;
}

.active {
    border-bottom: 3.5px solid #ffc400;
    bottom: 2px;
    color: #ffc400;
}

.topnav1 a:hover {
    color: #ffc400;
}

.topnav1 a:active {
    color: #ffc400;
}

.topnav .midnav .navigation1 {
    position: absolute;
    right: 0;
}

#msearch {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    z-index: 999999;
}

#search {
    border: none;
    outline: none;
    width: 100%;
    padding: 5px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(116, 116, 116);
    font-size: 16px;
}

#msearch div {
    padding: 15px;
    border: none;
    outline: none;
    display: grid;
    place-items: center;
    background-color: #fff;
    border-right: 1.5px solid rgb(216, 216, 216);
}

#msearch div:hover {
    background-color: #c2c2c2;
}

.icons1 {
    display: flex;
    justify-content: space-evenly;
}

.icon1 {
    color: rgb(255, 255, 255);
    width: auto;
    height: 100%;
    font-size: 15px;
    padding: 13px 12px;
    border-left: 1.5px solid rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon1:hover {
    background-color: #ffc400;
    border-left: 1.5px solid #ffc400;
}

#icon1:hover :after {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .icons {
        display: none;
    }
    .topnav1 .midnav #display {
        display: none;
    }
    .topnav1 .midnav a {
        padding: 15px 20px;
    }
    .topnav .midnav .navigation1 {
        float: right;
    }
}