@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    align-items: center;
    width: 100%;
    padding: 0 10px 0 70px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
}

nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

nav .sidebar-button span {
    font-size: 35px;
    margin-left: 10px;
    font-weight: 600;
}

nav .search-box {
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
}

nav .search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
}

nav .search-box input:focus {
    outline: 0;
    border-color: #ffc400;
}

nav .search-box .bx-search {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #ffc400;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
}

nav .profile-details {
    display: flex;
    align-items: center;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
}

nav .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
}

nav .profile-details .admin_name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}