body {
    margin: 0;
}

#container {
    height: 581px;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: none;
}

#head {
    width: 150px;
    height: 200px;
    background-color: #ffeae0;
    position: absolute;
    left: 110px;
    top: 80px;
    z-index: 999;
    border-radius: 84% 81% 60% 49% / 89% 84% 30% 30%;
    transform: rotate(180deg);
}

#head:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 110px;
    border-radius: 50%;
    background-color: #ffeae0;
    top: 65px;
    left: -3px;
    transform: rotate(3deg);
}

#head:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 110px;
    border-radius: 50%;
    background-color: #ffeae0;
    top: 65px;
    right: -3px;
    transform: rotate(-3deg);
}

nav {
    width: 100vw;
    color: crimson;
    background-color: #ffeae0;
    display: flex;
    flex-direction: row;
}

.elements {
    padding: 10px;
}